#content {
	width: 100%;
	height: 966px;
	margin: 0 auto;
	background:url(../img/ui/loginWindowBg1920.png);
	background-size: 1920px auto;
	background-position:center top;
    background-repeat:no-repeat;
}

#top_tab {	
	width: 100%;
	height: auto;
	float:top;
	border:0px 1px 1px 2px solid #8BC8C3;
	box-shadow: 2px 2px 2px #8BC8C3;
}

#identity {	
	float:right;
	font:bold 24px/40px arial,sans-serif;
	margin-right: 180px;
	margin-top: -30px;
}

#siderbar {
	width: 7%;
	height: 95%;
    background:rgba(255,255,255,0.1);
    margin: -20px 0;
}

.siderbar_selector { 
	margin: 20px auto;
	list-style:none;
    position: relative;
   //Òþ²ØÒç³öµÄ¾¶Ïò½¥±ä±³¾°
   overflow: hidden;
}

.siderbar_selector:hover{
	cursor:pointer;
	transform: rotate(-10deg) translateZ(150px);
    transition-duration: 300ms;
    -moz-transform: rotate(-10deg) translateZ(150px);
}
.siderbar_selector:after {
   content: "";
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   pointer-events: none;
   background-image: radial-gradient(circle, #666 10%, transparent 10.01%);
   background-repeat: no-repeat;
   background-position: 50%;
   transform: scale(10, 10);
   opacity: 0;
   transition: transform .3s, opacity .5s;
} 
.siderbar_selector:active:after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}