#second {
	width: 90%;
	height: 80%;
	margin: 5% auto;
	border: 2px solid #000;
	border-radius: 10px;
	overflow: hidden;
}
#second .table {
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
    cursor:pointer;
    overflow: scroll;
}
#second .table th {
	width:auto;
	height: 45px;
	padding: 5px;
	border-bottom: 3px solid #FFF;
	/*border-top: 1px solid #FFF;*/
	text-align: center;
}

#second .table tr {
	width:auto;
	height: 70px;
	padding: 5px;
	border-bottom: 1px solid #FFF;
	/*border-top: 1px solid #FFF;*/
	text-align: center;
}

#second .table td {
	border-bottom: 1px solid #FFF;
	/*border-top: 1px solid #FFF;*/
	text-align: center;
}

#second .tabel tbody tr:nth-child(odd) {
    background: rgba(255,255,255,0.3);
}

#second .tabel tbody tr:hover {
	background: linear-gradient(#fff,#aaa);
	font-size: 17px;
}

/*修改删除键的样式！*/
.operate_button{
	width: 80px;
	height: 30px;
	background-color: #9DC45F; /* Green */
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 0 auto;
	border-radius: 2px;
	margin-left: 5px;
	cursor:pointer;
}	
.operate_button:hover{
	background-color: #04C9E8; /* Green */
}