*{
	padding: 0;
	margin: 0;
}
container{
	width: 100%;
	height: auto;
	margin: 0 0 0 25%;
}
body{
	background:url(../img/register/loginWindowBg1920.png);
	background-size: 100% auto;
	background-position:center top;
    background-repeat:no-repeat;
}
input{
	width: 70%;
	margin-top: 10%;
	border-radius: 5px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: solid;
	border-bottom-color: gray;
	background-color: rgba(255,255,255,0.1);
}

.container .sign_in{
   position: absolute; 
   z-index: 6;
   width: 33.2%;
   left: 20%;
   top: 65px;
    height:30px;
   border:1px; 

   }
   .container .ReturnLogin{
   position: absolute;
   z-index: 6;
   top: 480px;
   left: 25%;
   width: 7%;
   height: 4%;
   /*background:url(../img/register/ReturnLogin.jpg) no-repeat left top*/
   }
   .container .Click_registration{
    position: absolute;
    z-index: 6;
   top: 480px;
   left: 34%;
   width: 7%;
   height: 4%;
    /*background:url(../img/register/Click_registration.jpg) no-repeat left top*/
   }
  .container .box{
       position: absolute;
       z-index: 3;
       background: #cdcdcd;
       top: 5%;
       left: 19.82%;
       width: 26%;
       height: 70%;
	  filter:alpha(opacity=60);
	  opacity:0.6;
   } 
   .container .InputName{
    position: absolute;
    z-index: 4;
    top: 105px;
    left: 24%;
    font-family:"宋体";
}
   .container .InputTrueName{
    position: absolute;
    z-index: 4;
    top: 135px;
    left: 24%;
    font-family:"宋体";
}
.container .PassWord{
    position: absolute;
    z-index: 4;
    top: 165px;
    left: 24%;
    font-family:"宋体";
}
.container .Password_confirmation{
    position: absolute;
    z-index: 4;
    top: 195px;
    left: 24%;
    font-family:"宋体";
}
.container .Sex{
    position: absolute;
    z-index: 4;
    top: 225px;
    left: 24%;
    font-family:"宋体";
}
.container .Sex1{
    position: absolute;
    z-index: 5;
    top: 225px;
    left: 31%;
    font-family:"宋体";
}
.container .Sex2{
    position: absolute;
    z-index: 5;
    top: 225px;
    left: 37%;
    font-family:"宋体";
}

.container .woman1{
    position: absolute;
    z-index: 5;
    top:155px;
    left: 26%;
    width:65px; 
    height:96px;  
    border:0; 
  filter:alpha(opacity=60);
  opacity:0.9;
    background:url(../img/register/woman1.png) no-repeat left top
}
.container .woman2{
    position: absolute;
    z-index: 5;
    top: 157px;
    left: 35%;
    width:65px; 
    height:96px;   
    border:0; 
  filter:alpha(opacity=60);
  opacity:0.9;
    background:url(../img/register/woman2.png) no-repeat left top
}
.container .man1{
    position: absolute;
    z-index: 5;
    top:158px;
    left: 26%;
    width:65px; 
    height:99px;  
    border:0; 
  filter:alpha(opacity=60);
  opacity:0.9;
    background:url(../img/register/man1.png) no-repeat left top
}
.container .man2{
    position: absolute;
    z-index: 5;
    top: 155px;
    left: 35%;
    width:65px; 
    height:96px;  
    border:0; 
  filter:alpha(opacity=60);
  opacity:0.9;
    background:url(../img/register/man2.png) no-repeat left top
}
.container .InputBox1{
    position: absolute;
    z-index: 5;
    top:90px;
    left: 31%;
    
}
.container .InputBox2{
    position: absolute;
    z-index: 5;
    top:120px;
    left: 31%;
}
.container .InputBox3{
    position: absolute;
    z-index: 5;
    top:150px;
    left: 31%;
}
.container .InputBox4{
    position: absolute;
    z-index: 5;
    top:180px;
    left: 31%;
}
