<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://"
	version="3.0">
	<display-name>restful</display-name>
	
	<context-param>
		<param-name>resteasy.resources</param-name>
		<param-value>restful.api.UserApi, restful.api.UserOperationApi, restful.api.ClothesTypeApi,
		restful.api.ClothesApi</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.providers</param-name>
		<param-value>restful.filter.ValidateCheckCodeFilter</param-value>
	</context-param>
	
	<!-- filter>
		<filter-name>SuitRequestFilter</filter-name>
		<filter-class>restful.filter.SuitRequestFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SuitRequestFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping-->
	
	<!-- spring配置 -->
	<!-- listener>
 	   <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>/WEB-INF/applicationContext.xml</param-value>
    </context-param>-->

	<listener>
		<listener-class>org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener> 
	<servlet>
		<servlet-name>Resteasy</servlet-name>
		<servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher
		</servlet-class>
	</servlet>
	<context-param>
		<param-name>resteasy.servlet.mapping.prefix</param-name>
		<param-value>/</param-value>
	</context-param>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/user/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/useroperate/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/clothestype/operate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Resteasy</servlet-name>
		<url-pattern>/clothesoperate/operate</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>SetCharacterEncoding</filter-name>
		<filter-class>zea.web.filter.SetCharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 过滤页面请求，当未登录直接跳转到登录界面等功能！ --> 
	<filter>
		<filter-name>toAllPageFilter</filter-name>
		<filter-class>restful.filter.ToAllPageNormalFilter</filter-class>
		
		<init-param>
			<param-name>excludedPages</param-name>    
			<param-value>/suit/css/*.css</param-value>
		</init-param>
		<init-param>
			<param-name>excludedPages</param-name>    
			<param-value>/suit/js/*.js</param-value>
		</init-param> 
	</filter>
	<filter-mapping>
		<filter-name>toAllPageFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>