/*吴冕的登录页面css
 */
*{
    margin: 0;
    padding: 0;
}
input{
    width:100px;
    height:13px;
    line-height:30px;
    outline:none;
    background:transparent;
    border:none;
     outline:medium; 
}
.container{
    top: 0;
}
.container .image_back{
    position: relative;
    z-index: 2;
    top: -180px;
}
.container .sign_in{
   position: absolute; 
   z-index: 6;
   top: 120px;
   left: 290px; 
   width:1000px; 
   height:50px;  
   border:0; 
   background:url(images/sign_in.jpg) no-repeat left top
   }
   .container .Model_selection{
   position: absolute;
   z-index: 6;
   top: 260px;
   left: 295px; 
   width:1000px; 
   height:100px;  
   border:0; 
   background:url(images/Model_selection.jpg) no-repeat left top
   }
   .container .ReturnLogin{
   position: absolute;
   z-index: 6;
   top: 360px;
   left: 290px; 
   width:1000px; 
   height:100px;  
   border:0; 
   background:url(images/ReturnLogin.jpg) no-repeat left top
   }
   .container .Click_registration{
    position: absolute;
    z-index: 6;
    top: 360px;
    left: 430px; 
    width:1000px; 
    height:100px;  
    border:0; 
    background:url(images/Click_registration.jpg) no-repeat left top
   }
     .container .box{
       position: absolute;
       z-index: 3;
       background: #cdcdcd;
      top: 128px;
       left: 286px;
       width: 230px;
       height: 255px;
   } 
   .container .InputName{
    position: relative;
    z-index: 4;
    top: 155px;
    left: 295px;
    font-size: 15px;
    font-family:"宋体";
}
   .container .InputTrueName{
    position: relative;
    z-index: 4;
    top: 115px;
    left: 295px;
    font-size: 15px;
    font-family:"宋体";
}
.container .PassWord{
    position: relative;
    z-index: 4;
    top: 96px;
    left: 295px;
    font-size: 15px;
    font-family:"宋体";
}
.container .Password_confirmation{
    position: relative;
    z-index: 4;
    top: 80px;
    left: 295px;
    font-size: 15px;
    font-family:"宋体";
}
.container .Sex{
    position: relative;
    z-index: 4;
    top: 65px;
    left: 295px;
    font-size: 15px;
    font-family:"宋体";
}
.container .Sex1{
    position: relative;
    z-index: 5;
    top: 45px;
    left: 275px;
    font-size: 15px;
    font-family:"宋体";
}
.container .Sex2{
    position: relative;
    z-index: 5;
    top: 45px;
    left: 225px;
    font-size: 15px;
    font-family:"宋体";
}
.container .woman1{
    position: absolute;
    z-index: 5;
    height: 80px;
    top: 280px;
    left: 300px;
    width:1000px; 
    height:100px;  
    border:0; 
    background:url(images/woman1.png) no-repeat left top
}
.container .woman2{
    position: absolute;
    z-index: 5;
    height: 80px;
    top: 280px;
    left: 440px;
    width:1000px; 
    height:100px;  
    border:0; 
    background:url(images/woman2.png) no-repeat left top
}
.container .man1{
    position: absolute;
    z-index: 5;
    height: 80px;
    top: 280px;
    left: 300px;
    width:1000px; 
    height:100px;  
    border:0; 
    background:url(images/man1.png) no-repeat left top
}
.container .man2{
    position: absolute;
    z-index: 5;
    height: 80px;
    top: 280px;
    left: 440px;
    width:1000px; 
    height:100px;  
    border:0; 
    background:url(images/man2.png) no-repeat left top
}
.container .line1{
    position: relative;
    z-index: 4;
    top:120px;
    left: 360px;
    font-size: 15px;
    font-family:"宋体";
}
.container .line2{
    position: relative;
    z-index: 6;
    top: 100px;
    left: 360px;
    font-size: 15px;
    font-family:"宋体";
}
.container .line3{
    position: relative;
    z-index: 4;
    top: 80px;
    left: 360px;
    font-size: 15px;
    font-family:"宋体";
}
.container .line4{
    position: relative;
    z-index: 4;
    top: 65px;
    left: 360px;
    font-size: 15px;
    font-family:"宋体";
}
.container .InputBox1{
    position: relative;
    z-index: 5;
    top:135px;
    left: 370px;
}
.container .InputBox2{
    position: absolute;
    z-index: 5;
    top:172px;
    left: 370px;
}
.container .InputBox3{
    position: absolute;
    z-index: 5;
    top:190px;
    left: 370px;
}
.container .InputBox4{
    position: absolute;
    z-index: 5;
    top:210px;
    left: 370px;
}
.container .InputBox5{
    position: absolute;
    z-index: 5;
    top:232px;
    left: 370px;
}